<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fragmentdemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FragmentDemo">
        <activity
            android:name=".FragmentDrawerActivity"
            android:theme="@style/MyNotActionBar"
            android:exported="false" />
        <activity
            android:name=".viewpager.activity.VPFragmentBotTabActivity"
            android:exported="false" />
        <activity
            android:name=".viewpager.activity.VPFragmentBottomNavActivity"
            android:exported="false" />
        <activity
            android:name=".viewpager.activity.VPFragmentBottomActivity"
            android:exported="false" />
        <activity
            android:name=".viewpager.activity.ViewPagerFragmentActivity"
            android:exported="false" />
        <activity
            android:name=".viewpager.activity.ViewPagerActivity"
            android:exported="false" />
        <activity
            android:name=".viewpager.ViewPagerTestActivity"
            android:exported="false" />
        <activity
            android:name=".FragmentNaviTestActivity"
            android:exported="false" />
        <activity
            android:name=".FragmentBottomNav1ctivity"
            android:exported="false" />
        <activity
            android:name=".datapass.FragmentPassBetweenActivity"
            android:exported="false" />
        <activity
            android:name=".datapass.DataPassTestActivity"
            android:exported="false" />
        <activity
            android:name=".modify.ModifyFragmentActivity"
            android:exported="false" />
        <activity
            android:name=".DynamicFragmentActivity"
            android:exported="false" />
        <activity
            android:name=".StaticFragmentActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>